<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Non desctructive Password Hashing Test Suite">
    <test verbose="2" preserve-order="true" name="Password Hashing Test">
        <classes>
            <class name="org.chaves.steven.PasswordGetHashingTest"/>
            <class name="org.chaves.steven.PasswordPostHashingTest"/>
            <class name="org.chaves.steven.PasswordStatsHashingTest"/>
        </classes>
    </test> 
</suite>